<!--Bookers2-user-index-->
<main>
  <div class="container px-5 px-sm-0">
    <div class="row">
      <div class="col-md-3">
      <!--userinfo 部分テンプレート呼び出し-->
      <%= render 'info', user: @user %>

      <!--newbook 部分テンプレート呼び出し-->
      <%= render 'books/new', book: @newbook %>
      <!--%= render [部分テンプレートファイルの指定], [ローカル変数]:[渡す値] %-->
      </div>

      <div class="col-md-8 offset-md-1">
        <h2>Users</h2>
        <table class="table">
          <tbody>
            <tr>
              <th>image</th>
              <th>name</th>
              <th></th>
            </tr>
            <% @users.each do |user| %>
            <tr>
              <td><%= image_tag user.get_profile_image(100, 100) %></td>
              <td><%= user.name %></td>
              <td>
                <a><%= link_to "show", user_path(user.id) %></a>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>