<!--Bookers2-book-index-->
<div class="container">
  <div class="row">
    <div class="side_bar col-12 col-sm-4">
        <!--userinfo 部分テンプレート呼び出し--
        <h2 class="mt-3">New book</h2>
        <%= form_with model: @book, url: books_path, method: :post do |f| %>
        <!--urlはform_with modelのあるページを指定-->
        <div class="field">
          <%= f.label :title %><br>
          <%= f.text_field :title %>
        </div>
        <div class="field">
          <%= f.label :body, "Opinion" %><br>
          <%= f.text_area :body %>
        </div>
        <div class="actions">
          <p>
            <%= f.submit "Create Book", class: "btn btn-success mt-3" %>
          </p>
        </div>
        <% end %>
    </div>

    <div class="main_bar col-sm-8">
      <h2>books</h2>
      <table class="table">
        <tbody>
          <tr>
            <th></th><!--profile_imageの部分-->
            <th>Title</th>
            <th>Opinion</th>
          </tr>
          <% @books.each do |book| %>
          <tr>
            <td><%= image_tag book.user.get_profile_image(100, 100) %></td>
            <!--image_tag、サイズの引数を忘れない！-->
            <td>
              <%= link_to(book_path(book.id)) do %>
                <%= book.title %>
              <% end %>
            </td>
            <td><%= book.body %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>