<!--Bookers2-book-show-->
<main>
  <% flash.each do |key, value| %>
    <%= value %>
  <% end %>
<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
        <!--userinfo 部分テンプレート呼び出し-->
        <%= render 'users/info', user: @user %>
        <!--newbook 部分テンプレート呼び出し-->
        <%= render 'new', book: @newbook %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <p><%= image_tag @book.user.get_profile_image(100, 100) %></p>
              <p>
                <%= link_to user_path(@user.id) do %>
                  <%=  @user.name %>
                <% end %>
              </p>
            </td>
            <!--image_tag、サイズの引数を忘れない！-->
            <td>
              <%= link_to book_path(@book.id) do %>
                <%= @book.title %>
              <% end %>
            </td>
            <td><%= @book.body %></td>
            <td>
              <% if @book.user == current_user %>
                <%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-success btn-sm" %>
              <% end %>
            </td>
            <td>
              <% if @book.user == current_user %>
                <%= link_to "Destroy", book_path(@book.id), method: :delete, class: "btn btn-danger btn-sm" %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
</main>